ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  display: block;
  text-align: center;
}
li {
  display: block;
}

nav {
  background-color: bisque;
}

.NavigationBar {
  display: inline-block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  background-color: green;
}

.tasks{
  margin : 5px 5px 5px 5px;
  text-align: left;
}
li a:hover {
  background-color: #111;
}
body{
  text-align: center;
}

th:hover{
  cursor: pointer;
}

table, th, td {
  border: 1px solid black;
}

